
.Landing-header-med-screen {
  min-height: 100vh;
  display: flex;
}

.Landing-header-all-div-med-screen {
  margin: auto;
}

.Landing-header-div-med-screen {}

.HeaderText-med-screen {
  font-family: 'MonteCarlo', cursive;
  color: whitesmoke;
  font-size: 7.5em;
  margin: auto;
}

.Main-name-med-screen {}

.Landing-logo-med-screen{
  height: 30vmin;
  pointer-events: none;
  margin: -5.5em 0 0 9em;
}

.Main-graduate-med-screen {
  margin-left: .7em;
  margin-top: -1em;
}


/* Timer */
.main-content-med-screen {
  font-family: 'MonteCarlo', cursive;
  color: white;
  width: 45%;
  padding: 28em 0 5em 0;
}

.days-timer-med-screen {}

.days-timer-title-date-med-screen {
  font-size: 2em;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.countdown-container-med-screen {
  font-size: 1.5em;
  font-weight: bolder;
  display: flex;
  justify-content: space-around;
}

.count-med-screen {
  width: 11%;
  background-color: black;
  text-align: center;
  border-radius: 16px;
  border: 1px solid royalblue;
  border-width: 8px 0 4px;
  padding: .2em .9em;
}

.days {
  color: #FD4746;
}

.hours {
  color: #FACB00;
}

.minutes {
  color: #37D0F9;
}

.seconds {
  color: #FD4746;
}


/* Buttons */

.buttons-med-screen {
  height: 25vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  max-width: 80%;
  margin: auto;
}

.button-med-screen {
  color: #000;
  font-family: 'MonteCarlo', cursive;
  text-decoration: none;
	cursor: pointer;
	position: relative;
  text-align: center;
  margin-bottom: 1rem;
	padding: 1rem 1rem;
	border-radius: 3.75rem;
	line-height: 1.5rem;
	font-size: 1.5rem;
	font-weight: 600;
	border: 3px solid royalblue;
	background-image: linear-gradient(-180deg, royalblue 0%, #37D0F9 100%);
	box-shadow: 0 1rem 1.25rem 0 rgba(22,75,195,0.50),
							0 -0.25rem 1.5rem #FACB00 inset,
							0 0.50rem 0.1rem #FD4746  inset,
							0 0.25rem 2rem 0 #FACB00 inset;
  width: 90%;
}
